/*
 * Source: https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap
 * Don't load from Google to avoir their tracking cookie.
 * https://stackoverflow.com/questions/10977593/can-google-track-me-if-i-use-google-web-fonts
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
