/*
 * Source: https://fonts.googleapis.com/icon?family=Material+Icons
 * Don't load from Google to avoir their tracking cookie.
 * https://stackoverflow.com/questions/10977593/can-google-track-me-if-i-use-google-web-fonts
 */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
