.MuiTableRow-root .idle {
    background: rgb(250,250,250);
}
.MuiTableRow-root .idle td {
    color: rgb(100,100,100);
}
.MuiTableRow-root .veryIdle {
    background: rgb(240,240,240);
}
.MuiTableRow-root .veryIdle td {
    color: rgb(150,150,150);
}
